<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Comptible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/oauthpage.css">
    <title>Login</title>
   
  
</head>
<body>
    
    <div class="oauth"> 
        <h1>Please enter your details to generate token</h1>      
        <form action="/generateToken" method="POST">
            <p> <input type="text" id="usernameoauth" name="username" placeholder="Username"required> </p>
            <p> <input type="password" id="passwordoauth" name="password" placeholder="Password" required> </p>
            <p class="submit">
            <input type="submit" name="commit" value="generateToken"></p>
            <p class="error"> 
                <%if(typeof errormessage != "undefined"){%>
                    <%= errormessage%> 
             <% }  %>    
            </p>
        </form>
    </div>
  
</body>
</html>