<button type="button" class="btn btn-success" data-toggle="modal" data-target="#dependent-modal">
    Add Dependent
</button>

<!-- Modal -->
<div class="modal fade" id="dependent-modal" tabindex="-1" aria-labelledby="dependent-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dependent-modal-label">Add Dependent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           <div class="modal-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="dependent-first-name">First Name</label>
                        <input type="text" class="form-control" name="dependentfirstname" id="dependent-first-name" >
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="dependent-last-name">Last Name</label>
                        <input type="text" class="form-control" id="dependent-last-name" name="dependentlastname">
                    </div>
                </div>
            </div>
            <div class="form-group" id="relationship">
                <label for="dependentrelationship">Relationship</label>
                <select class="form-control" id="dependentrelationship">
                    <option>Select a value</option>
                    <option value="father">Father</option>
                    <option value="mother">Mother</option>
                    <option value="spouse">Spouse</option>
                    <option value="son">Son</option>
                    <option value="daughter">Daughter</option>
                </select>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="countryCode">Country</label>
                       <select name="dependentcountry" class="countries1 form-control" id="countryCode">
                                <option value="">Select Country</option>
                            </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="stateCode">State</label>
                        <select name="dependentstate" class="states1 form-control" id="stateCode">
                                <option value="">Select State</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="cityCode">City</label>
                         <select name="dependentcity" class="cities1 form-control"  id="cityCode" >
                                <option value="">Select City</option>
                            </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="dependent-street">Street</label>
                        <input type="text" class="form-control" id="dependent-street" name="dependentstreet"  aria-describedby="street-help">
                        <small id="street-help" class="form-text text-muted">Street name/Society Name/Alley Name</small>
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label for="dependent-dob">Date Of Birth</label>
                    <input type="text" class="form-control" name="dependentdateofbirth" id="dependent-dob" >
                    <script>
                        $("#dependent-dob").datepicker({ maxDate: 0, dateFormat: 'yy-mm-dd' });
                    </script>
                </div>
                <div class="form-group" id="policy-div">
                    <label for="policy-check">Available Policies</label>
                    <% if(data && data.policies) { %>
                    <% data.policies.forEach(function(item){ %>
                    <div class="form-check" id="policy-check">
                        <input class="form-check-input" type="checkbox" name="dependentpolicy"
                            value="<%= item.policyId%>" id="<%= item.policyId%>">
                        <label class="form-check-label" for="<%= item.policyId%>">
                            <%= item.policyName%>
                        </label>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="onDependentAdd();">Add</button>
            </div>
        </div>
    </div>
</div>
<script src="javascripts/enrollment/location.js"></script>