<form>
    <div class="form-group">
        <label for="subscriber-id">Subscriber ID</label>
        <input type="text" class="form-control" id="subscriber-id" aria-describedby="subscriber-id-help" required>
        <small id="subscriber-id-help" class="form-text text-muted">Please add your ID</small>
    </div>
    <div class="form-group">
        <label for="dependent-id">Dependent ID</label>
        <input type="text" class="form-control" id="dependent-id" aria-describedby="dependent-id-help" required>
        <small id="dependent-id-help" class="form-text text-muted">Please add the Dependent ID</small>
    </div>
    <div class="form-group">
        <label for="policy-id">Policy Number</label>
        <input type="text" class="form-control" id="policy-id" aria-describedby="policy-id-help" required>
        <small id="policy-id-help" class="form-text text-muted">Please add the Policy ID</small>
    </div>
    <input type="button" class="btn btn-success" value="Submit" onclick="onEligibilityBtnClicked();" />
    <input type="button" class="btn btn-info" value="Cancel" onclick="onCancelClicked();" />
</form>